
h3{
  margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(0,0,0,.85);
    font-weight: 500;
}
p{
  margin: 0 0 5px;
}
.modal-container .ant-modal-content {
  padding: 0px;
  border-radius: 4px
}
.modal-container .ant-modal-header{
  padding: 18px 24px;
  border-bottom: 1px solid #e8e8e8;
}

.modal-container .ant-modal-body{
padding: 24px;
}

.modal-container .ant-modal-footer{ 
  padding: 10px 16px;
    text-align: right;
    background: tranparent;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;
  
}

.footer .ant-card-actions{
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
  zoom: 1;
}
